
README.md linguist-documentation

Practica.md linguist-language=sql
Grupal.md linguist-language=sql

Fundamentos-de-Administracion-Oracle.md linguist-documentation
Gestion-usuario-Oracle.md linguist-documentation
Introduccion.md linguist-documentation
