
README.md linguist-documentation

Practica.md linguist-language=plsql
Grupal.md linguist-language=plsql

Fundamentos-de-Administracion-Oracle.md linguist-documentation
Gestion-usuario-Oracle.md linguist-documentation
Introduccion.md linguist-documentation
